<div style="display:flex;flex-flow:column;">

<RadzenLabel Text="@subName" Style="font-size:xx-small"/>
<RadzenImage Path="@IconPath" Style="height:64px;width:64px"/>
</div>

@code {
    [Parameter]
    public string subName { get; set; } = string.Empty;

    [Parameter]
    public string SubId { get; set; } = string.Empty;

    private string IconPath
    {
        get => $"/sub/S3_Weapon_Sub_{SubId}.png";
    }
}
