<div style="display:flex;flex-flow:column;">
<RadzenLabel Text="@weaponName" Style="font-size:x-small"/>
<RadzenImage Path="@IconPath" Style="height:64px;width:64px"/>
</div>
@code {
    [Parameter]
    public string weaponName { get; set; } = string.Empty;

    [Parameter]
    public string WeaponId { get; set; } = string.Empty;

    private string IconPath
    {
        get => $"/weapons/S3_Weapon_Main_{WeaponId}.png";
    }
}
